{% for article in (1..include.columns) %}
  <div class="large-{{ 12 | divided_by: include.columns }} columns">
    <article class="divborder">
      <h3 class="inline"><a href="{{site.baseurl}}/document/">Document Title</a></h3>
      <h4>Author Name</h4>
      <p><span class="meta">Date</span> Jan 24, 2015</p>
      <p>Fusce ante lectus, pulvinar sed lacus scelerisque, bibendum commodo mauris. Vivamus erat velit, so  lacus scelerisque, bibendum commodo mauris.</p>
      <!-- <p class="meta">Date: <a>Jan 24, 2015</a> - Theme: <a>Lorem Ipsum</a> - Type: <a>Lorem Ipsum</a> - Source: <a>Lorem Ipsum</a> - Company: <a>Document Ipsum</a></p> -->
      <a href="/document/"><button>Read More</button></a>
    </article>
  </div>
{% endfor %}
