<div class="footer">
  <div class="row">

  </div>
  <div class="row">
    <div class="large-3 columns text-left">
     <a href="http://www.cartercenter.org/" target="_blank"><img src="{{site.baseurl}}/img/carter.png" /></a>
    </div>
    <div class="large-5 columns text-center">
     <img src="{{site.baseurl}}/img/belguim.png" />
    </div>
    <div class="large-4 columns">
    <h4>Recent Tweets</h4>
    <a class="twitter-timeline" href="https://twitter.com/CongoMines" data-widget-id="575669422460796928" data-chrome="nofooter transparent noborder noheader">Tweets by @CongoMines</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>
  </div>
</div>

<div class="copyright">
  <div class="row">
    <div class="large-6 columns text-left"><p>© Copyright 2015 - CongoMines</p></div>
    <div class="large-6 columns text-right">
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
  </div>
</div>
