<div class="search">

  <div class="row">
    <div class="large-12 columns text-center">
      <h1>CongoMines Document Library</h1>
    </div>

  </div>
  <div class="divider"></div>
  <div class="row">
      <div class="large-9 columns">
          <input type="text" placeholder="Search Documents" />
      </div>
      <div class="large-3 columns">
          <button>Search Library</button>
      </div>
      <div class="large-12 columns">
        <a id="hideshow" value="wee">+ Browse</a>
      </div>
  </div>
  <div class="divider"></div>
  <div id="advanced">
    <div class="row">
      <div class="large-12 columns">
        <h3>Thème</h3>
            <form action="">
                  <label><input type="checkbox" name="themes" value="resources">Aspects Financiers et Fiscaux</label>
                  <label><input type="checkbox" name="themes" value="environment">Aspects Sociaux et Environnementaux</label>
                  <label><input type="checkbox" name="themes" value="budget">Contrats et Titres Miniers</label>
                  <label><input type="checkbox" name="themes" value="miningops">Introduction au Secteur Minier</label>
                  <label><input type="checkbox" name="themes" value="miningops">Gouvernance, Transparence et Réformes du Secteur</label>
                  <label><input type="checkbox" name="themes" value="miningops">Opérations Minières</label>
            </form>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h3>Type de Document</h3>
            <form action="">
                  <label><input type="checkbox" name="types" value="press">Articles de Presse</label>
                  <label><input type="checkbox" name="types" value="projectdocs">Cartes</label>
                  <label><input type="checkbox" name="types" value="reports">Communiqués et Lettres</label>
                  <label><input type="checkbox" name="types" value="lawstandards">Contrats</label>
                  <label><input type="checkbox" name="types" value="presentation">Documents d’Entreprises et Publications Boursières</label>
                  <label><input type="checkbox" name="types" value="presentation">Guides et Manuels</label>
                  <label><input type="checkbox" name="types" value="presentation">Listes, Tableaux et Statistiques</label>
                  <label><input type="checkbox" name="types" value="presentation">Lois, Normes et Réglements</label>
                  <label><input type="checkbox" name="types" value="presentation">Rapports et Analyses</label>
                  <label><input type="checkbox" name="types" value="presentation">Site Internet</label>
                  <label><input type="checkbox" name="types" value="presentation">Statuts et Actes de Constitution</label>
                  <label><input type="checkbox" name="types" value="presentation">Synthèses et Résumés</label>
            </form>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h3>Type de Source</h3>
            <form action="">
                  <label><input type="checkbox" name="source" value="companies">Cabinets Juridiques, Techniques et d’Audit</label>
                  <label><input type="checkbox" name="source" value="committees">Entreprises Minières</label>
                  <label><input type="checkbox" name="source" value="civilsociety">Etat Congolais (autorité centrale)</label>
                  <label><input type="checkbox" name="source" value="government">Etat congolais (autorités provinciales)</label>
                  <label><input type="checkbox" name="source" value="committees">Etats Étrangers</label>
                  <label><input type="checkbox" name="source" value="committees">Groupes Multi-Partites</label>
                  <label><input type="checkbox" name="source" value="committees">Institutions Internationales</label>
                  <label><input type="checkbox" name="source" value="committees">Instituts et Chercheurs Académiques</label>
                  <label><input type="checkbox" name="source" value="committees">Presse</label>
                  <label><input type="checkbox" name="source" value="committees">Société Civile Internationale</label>
                  <label><input type="checkbox" name="source" value="committees">Société Civile Locale</label>

            </form>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h3>Province</h3>
            <form action="">
                  <label><input type="checkbox" name="source" value="companies">Katanga</label>
                  <label><input type="checkbox" name="source" value="committees">Province Orientale</label>
                  <label><input type="checkbox" name="source" value="civilsociety">Provinces du Kasai</label>
                  <label><input type="checkbox" name="source" value="government">Provinces du Kivu</label>

            </form>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <h3>DRC Company</h3>
          <input type="text" placeholder="" />
      </div>
      <div class="large-6 columns">
        <h3>Shareholder Company</h3>
          <input type="text" placeholder="" class="searchicon"/>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="large-12 columns">
          <button>Submit</button>
      </div>
    </div>
  </div>
</div>
