<div class="search">

  <div class="row">
    <div class="large-12 columns text-center">
      <h1>CongoMines Document Library</h1>
      <p>lorem ipsum fusce ante lectus sed lacus</p>
    </div>

  </div>
  <div class="divider"></div>
  <div class="row">
      <div class="large-9 columns">
          <input type="text" placeholder="Search Documents" />
      </div>
      <div class="large-3 columns">
          <button>Search Library</button>
      </div>
      <div class="large-12 columns">
        <a id="hideshow" value="wee">+ Advanced Search</a>
      </div>
  </div>
  <div class="divider"></div>
  <div id="advanced">
    <div class="row">
      <div class="large-12 columns">
        <h3>Document Theme</h3>
            <form action="">
                  <label><input type="checkbox" name="themes" value="resources">Resources</label>
                  <label><input type="checkbox" name="themes" value="environment">Environment</label>
                  <label><input type="checkbox" name="themes" value="budget">Budget</label>
                  <label><input type="checkbox" name="themes" value="miningops">Mining Operations</label>

            </form>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h3>Document Type</h3>
            <form action="">
                  <label><input type="checkbox" name="types" value="press">Press Release</label>
                  <label><input type="checkbox" name="types" value="projectdocs">Project Docs</label>
                  <label><input type="checkbox" name="types" value="reports">Reports</label>
                  <label><input type="checkbox" name="types" value="lawstandards">Law/Standards</label>
                  <label><input type="checkbox" name="types" value="presentation">Presentation</label>
            </form>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h3>Source Type</h3>
            <form action="">
                  <label><input type="checkbox" name="source" value="companies">Companies</label>
                  <label><input type="checkbox" name="source" value="committees">Committees</label>
                  <label><input type="checkbox" name="source" value="civilsociety">Civil Society</label>
                  <label><input type="checkbox" name="source" value="government">Government</label>

            </form>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <h3>DRC Company</h3>
          <input type="text" placeholder="" />
      </div>
      <div class="large-6 columns">
        <h3>Shareholder Company</h3>
          <input type="text" placeholder="" class="searchicon"/>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="large-12 columns">
          <button>Submit</button>
      </div>
    </div>
  </div>
</div>
