<div class="search">

  <div class="row">
    <div class="large-12 columns text-center">
      <h1>CongoMines Document Library</h1>
    </div>

  </div>
  <div class="divider"></div>
  <div class="row">
      <div class="large-9 columns">
          <input type="text" placeholder="Search Documents" />
      </div>
      <div class="large-3 columns">
          <button>Search Library</button>
      </div>
      <div class="large-12 columns">
        <a id="hideshow" value="wee">+ Browse</a>
      </div>
  </div>
  <div class="divider"></div>
  <div id="advanced">

    <div class="row">
      <div class="large-12 columns">
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Thème</button>
        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="#">Aspects Financiers et Fiscaux</a></li>
          <li><a href="#">Aspects Sociaux et Environnementaux</a></li>
          <li><a href="#">Contrats et Titres Miniers</a></li>
          <li><a href="#">Introduction au Secteur Minier</a></li>
          <li><a href="#">Gouvernance, Transparence et Réformes du Secteur</a></li>
          <li><a href="#">Opérations Minières</a></li>
        </ul>
      <button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button dropdown">Type de Document</button>
        <ul id="drop2" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="#">Articles de Presse</a></li>
          <li><a href="#">Cartes</a></li>
          <li><a href="#">Contrats</a></li>
          <li><a href="#">Documents d’Entreprises et Publications Boursières</a></li>
          <li><a href="#">Guides et Manuels</a></li>
          <li><a href="#">Listes, Tableaux et Statistiques</a></li>
          <li><a href="#">Lois, Normes et Réglements</a></li>
          <li><a href="#">Rapports et Analyses</a></li>
          <li><a href="#">Site Internet</a></li>
          <li><a href="#">Statuts et Actes de Constitution</a></li>
          <li><a href="#">Synthèses et Résumés</a></li>
        </ul>
      <button href="#" data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" class="button dropdown">Type de Source</button>
        <ul id="drop3" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="#">Cabinets Juridiques, Techniques et d’Audit</a></li>
          <li><a href="#">Entreprises Minières</a></li>
          <li><a href="#">Etat Congolais (autorité centrale)</a></li>
          <li><a href="#">Etat congolais (autorités provinciales)</a></li>
          <li><a href="#">Etats Étrangers</a></li>
          <li><a href="#">Institutions Internationales</a></li>
          <li><a href="#">Instituts et Chercheurs Académiques</a></li>
          <li><a href="#">Presse</a></li>
          <li><a href="#">Société Civile Internationale</a></li>
          <li><a href="#">Société Civile Locale</a></li>
        </ul>
      <button href="#" data-dropdown="drop4" aria-controls="drop4" aria-expanded="false" class="button dropdown">Province</button>
        <ul id="drop4" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="#">Katanga</a></li>
          <li><a href="#">Province Orientale</a></li>
          <li><a href="#">Provinces du Kasai</a></li>
          <li><a href="#">Provinces du Kivu</a></li>
        </ul>
      <button href="#" data-dropdown="drop5" aria-controls="drop5" aria-expanded="false" class="button dropdown">DRC Company</button>
        <ul id="drop5" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="#">Placeholder</a></li>
        </ul>
         <button href="#" data-dropdown="drop6" aria-controls="drop6" aria-expanded="false" class="button dropdown">Shareholder Company</button>
        <ul id="drop6" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="#">Placeholder</a></li>
        </ul>
      </div>
    </div>
   
  </div>
</div>
