---
---
<!doctype html>
<html class="no-js" lang="en">
  {% include dochead.html %}
  <body>

  <div class="header">
    <div class="menu">
      <div class="row">
        <div class="logo"><a href="http://www.cartercenter.org/index.html"><img src="{{site.baseurl}}/img/carter2.png" /></a></div>
        <div class="logo3"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/logo.png" /></a></div>
        {% include header-nav.html %}
        <div class="logo2"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/logo.png" /></a></div>
      </div>
    </div>

  </div>
  <div class="scroll"></div>
  <!-- insert page-specific content to main.html layout -->
  {{content}}

  {% include footer.html %}

  <script src="{{site.baseurl}}/js/vendor/jquery.js"></script>
  <script src="{{site.baseurl}}/js/common.js"></script>
  <script src="{{site.baseurl}}/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
    app.initCommon();
  </script>
  </body>
</html>
