---
---
<!doctype html>
<html class="no-js" lang="en">
  {% include dochead.html %}
  <body>

  <div class="header">

    <div class="row">
      <div class="large-12 columns">
        <h4>Fusce ante lectus, pulvinar sed lacus scelerisque, bibendum commodo mauris. Vivamus erat velit, so</h4>
      </div>
    </div>
    <div class="menu">
      <div class="row">
        <div class="logo"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/logo.png" /></a></div>
        <div class="navigation">
          <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/library/">Library</a></li>
            <li><a href="{{site.baseurl}}/company/">Companies</a></li>
            <li><a href="{{site.baseurl}}/map/">Map</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <!-- insert page-specific content to main.html layout -->
  {{content}}

  {% include footer.html %}


  <script src="{{site.baseurl}}/js/vendor/jquery.js"></script>
  <script src="{{site.baseurl}}/js/scripts.js"></script>
  <script src="{{site.baseurl}}/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>
